@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter_Web/Inter-Black.woff2) format('woff2'),
    src: url(./fonts/Inter_Web/Inter-Black.woff) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Inter-Black.woff2) format("woff2"),
         url(../fonts/Inter-Black.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Inter-Regular.woff2) format("woff2"),
         url(../fonts/Inter-Regular.woff) format("woff");
  }
.page {
    background: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    max-width: 1280px;
    margin: 0 auto 0;
}
.header {
    max-width: 1184px;
    min-height: 52px;
    margin: 28px 48px 0;
    display: flex;
    justify-content: space-between;
}
.logo {
    max-width: 176px;
    min-height: 52px;
    
}
.header__lang-links{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 74px;
    margin: 18px 0 0;
    
}
.header__lang-link {
    max-width: 29px;
    min-height: 28px;
    margin-left: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
}
.header__lang-link_decoration_underline{
    text-decoration: underline;
}
.content{
    margin: 0 auto;
}
.lead {
    max-width: 984px;
    min-height: 1005px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 56px auto 0;
}
.lead__title {
    max-width: 720px;
    min-height: 200px;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto;
}
.lead__subtitle{
    max-width: 640px;
    min-height: 72px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 64px;
}
.lead__image {
    max-width: 984px;
    min-height: 615px;
}
.lead__caption {
    min-width: 158px;
    min-height: 14px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin: 8px 0 0 0;
    text-align: left;
}
.intro{
    width: 690px;
    height: 429px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 92px 0 0 148px;
}
.intro__title{
    max-width: 690px;
    min-height: 58px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}
.intro__text{
    max-width: 690px;
    min-height: 208px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 40px 0 33px;
}
.intro__list {
    width: 690px;
    height: 90px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.photo-grid {
    margin: 92px auto;
    max-width: 1184px;
    min-height: 671px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    
}
.grid-item {
    /* width: 284px;
    height: 213px; */
    width: 100%;
}

.places {
    max-width: 984px;
    min-height: 3392px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    align-items: stretch; */
    /* align-items: flex-start; */
}
.place{
    max-width: 984px;
    min-height: 660px;
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 40px 48px;
}
.place__title{
    max-width: 460px;
    min-height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.place__image{
    width: 460px;
    height: 460px;
    margin: 0;
}
.place__website{
    max-width: 456px;
    min-height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0px;
}
.place__url-heading{
    max-width: 456px;
    min-height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0 0 12px;
}
.place__link{
    max-width: 456px;
    min-height: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #FFFFFF;
}
.place__paragraph{
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0 0 26px;
}
.place__paragraph:last-of-type{
    margin-bottom: 0;
}
.cover{
    max-width: 1184px;
    min-height: 740px;
    margin: 92px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/cover-trains.jpg);
    background-size: cover;
}
.cover__overlay{
    max-width: 1184px;
    min-height: 740px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cover__overlay:hover{
    background: #2A2C2F;
    opacity: 0.3;
    color: #FFFFFF;
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cover__title{
    max-width: 560px;
    min-height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
}
.cover__subtitle{
    max-width: 360px;
    min-height: 66px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px auto 0;
}
.footer{
    max-width: 1184px;
    min-height: 18px;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
}
.footer__links{
    display: flex;
    justify-content: start;
}
.footer__link{
    color: #FFFFFF;
    text-decoration: none;
    line-height: 18px;
    font-weight: 400; 
    font-size: 16px;
    margin-right: 18px;
}
.footer__copyright{
    width: 186px;
    line-height: 16px;
    font-weight: 400; 
    font-size: 14px;
    margin: 0;
    text-align: right;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        min-height: 942px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
    /* .grid-item {
        width: 300px;
        height: 225px;
    } */
} 
@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        min-height: 862px;
        margin: 48px auto 0;
    }
    .lead__title{
        /* max-width: 288px; */
    }
    .lead__image {
        max-width: 768px;
        min-height: 480px;
    }
    .intro{
        max-width: 720px;
        min-height: 429px;
        margin: 88px 24px;
    }
    .photo-grid {
        margin: 88px auto;
        max-width: 720px;
        min-height: 1664px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
        justify-content: center;
    }
    /* .grid-item {
        width: 352px;
        height: 264px;
    } */
    .places {
        max-width: 720px;
        min-height: 2808px;
        /* margin: 0 24px; */
    }
    .place {
        max-width: 720px;
        min-height: 581px;
        margin: 0 0 73px 0;
        gap: 48px 28px;
    }
    .place__title{
        max-width: 340px;
        min-height: 92px;
        font-size: 42px;
        line-height: 46px;
    }
    .place__paragraph{
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
    }
    .place__image{
        /* max-width: 340px;
        height: 340px; */
        /* width: 100%; */
    }
    .cover {
        max-width: 768px;
        min-height: 480px;
    }
    .cover__overlay{
        max-width: 768px;
        min-height: 480px;
    }
    .footer {
        max-width: 720px;
    }
}
@media screen and (max-width: 425px) {
    .page{
        max-width: 320px;
    }
    .header {
        max-width: 288px;
        min-height: 42px;
        margin: 16px 16px 0;
    }
    .logo {
        max-width: 142px;
        min-height: 42px;
    }
    .header__lang-link {
        max-width: 22px;
        min-height: 20px;
        font-size: 18px;
        line-height: 20px;
    }
    .lead {
        max-width: 320px;
        min-height: 406px;
        margin: 48px auto 0;
    }
    .lead__title {
        max-width: 288px;
        min-height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
    .lead__subtitle{
        max-width: 288px;
        min-height: 40px;
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto 40px;
    }
    .lead__image {
        max-width: 320px;
        min-height: 200px;
    }
    .lead__caption{
        margin-left: 16px;
    }
    .intro{
        max-width: 288px;
        min-height: 754px;
        margin: 64px 16px;
    }
    .intro__title{
        max-width: 288px;
        min-height: 70px;   
        font-size: 32px;
        line-height: 35px;
    }
    .intro__text{
        max-width: 288px;
        min-height: 520px;
        margin: 40px 0 34px;
    }
    .intro__list {
        width: 288px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
    .photo-grid {
        margin: 64px auto;
        max-width: 288px;
        min-height: 2724px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }
    .grid-item {
        width: 288px;
        height: 216px;
    }
    .places {
        /* display: flex;
        flex-direction: column;
        align-items: stretch; */
        /* align-items: flex-start; */
    }
    .place{
        max-width: 320px;
        margin: 0 auto 50px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 32px;
    }
    .place__title{
        max-width: 288px;
        min-height: 35px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
    .place__website{
        margin-left: 16px;
    }
    .place__url-heading{
        max-width: 288px;
        line-height: 12px;
    }
    .place__link{
        max-width: 288px;
    }
    .place__image{
        max-width: 320px;
        height: 320px;
    }
    .place__paragraph{
        max-width: 288px;
        font-size: 16px;
        line-height: 26px;
        margin: 0 16px 50px;
    }
    .cover{
        max-width: 320px;
        min-height: 200px;
        margin: 66px auto 64px;
    }
    .cover__overlay{
        max-width: 320px;
        min-height: 200px;
    }
    .cover__overlay:hover{
        background: #2A2C2F;
        opacity: 0.3;
        color: #FFFFFF;
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .cover__title{
        max-width: 288px;
        min-height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle{
        max-width: 288px;
        min-height: 48px;
        font-size: 14px;
        line-height: 16px;
        margin: 16px auto 0;
    }
    .footer{
        max-width: 186px;
        min-height: 310px;
        margin: 0 118px 24px 16px;
        display: flex;
        flex-direction: column
    }
    .footer__links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer__link{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .footer__copyright{
        line-height: 14px;
        text-align: left;
    }
}



@media screen and (max-width: 1024px) {
} 
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 425px) {
}
